.loco {
    /* Para centrar el contenido horizontal y verticalmente */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /* Agregar márgenes alrededor del elemento */
    margin: 20px; /* Puedes ajustar este valor según sea necesario */
  }

.loco img {
    width: 30%;

}